name: CI

on:
  push:
  pull_request:

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Clone vcpkg
        run: |
          git clone https://github.com/microsoft/vcpkg.git vcpkg
          vcpkg/bootstrap-vcpkg.bat -disableMetrics

      - name: Install dependencies
        run: |
          vcpkg/vcpkg install sdl2 sdl2-image:x64-windows

      - name: Configure with CMake
        shell: cmd
        run: |
          cmake -S . -B build ^
            -DCMAKE_TOOLCHAIN_FILE=%CD%\vcpkg\scripts\buildsystems\vcpkg.cmake ^
            -DVCPKG_TARGET_TRIPLET=x64-windows

      - name: Build
        run: cmake --build build --config Release
